.main {
    display: flex;
    flex: 0 0 50%;
    flex-wrap: wrap;
    text-align: center;
    @media (max-width: 991px) {
        flex: 0 0 100%;
        text-align: center;
    }
    //   .main__col
    &__col {
        &_sms {
            margin-top: 1em;
        }
        flex: 0 0 50%;
        @media (max-width: 991px) {
            flex: 0 0 50%;
        }
        @media (max-width: 754px) {
            flex: 0 0 50%;
        }
        @media (max-width: 554px) {
            flex: 0 0 100%;
        }
    }

    // .main__phone

    &__phone {
        margin-left: 0.5em;
    }

    // .main__text

    &__text {
        font-size: 1.3em;
        padding: 0;
        margin: 0.5em;
    }
}
